*{
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#ebf8fc;


}
#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#A0DEFF; 
    max-width: 500PX;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 3rem;
    text-align: left;
    border: none;
    background-color:#16325B;
    color: rgb(215, 242, 244);
}
#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 20px;
}
button{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50px;
background-color: #5AB2FF;
color: white;
font-size: 1rem;
font-weight: bold;
cursor: pointer;
}
button:hover{
    background-color: white;
    color: black;
}
/* button:active{
    background-color: rgb(204, 202, 202);


} */
 .oper-btn{
    background-color:#16325B;
    color: black;

 }